<!-- Hero -->
<section class="hero">
  <img
    src="../../../../assets/image/shoe_shop_banner_hero.webp"
    class="banner"
  />

  <div class="container">
    <h2 class="text_h1 col_accent" style="text-align: center">Shop</h2>
  </div>

  <div class="decoration">
    <img src="../../../../assets/image/shoe_shop_banner.webp" class="shoe" />
  </div>
</section>

<!-- breadcrumb -->
<div class="breadcrumbs container">
  <app-breadcrumbs />
</div>

<!-- Shop Content -->
<section class="shop_content container">
  <app-shop-filter />

  <app-shop-grid />
</section>
