header
  position: relative
  width: 100%
  height: auto
  min-height: 231px
  z-index: 1000
  > .mat-grid-list
    width: 100%
    align-items: center
    justify-items: center
    // Logo
    .logo
      object-fit: cover
      max-width: 80px
      max-height: 80px
      border-radius: 15px
      overflow: hidden
      margin-right: auto
      > img
        width: 100%
        height: 100%
    // Phone
    .phone
      display: flex
      gap: 2px
      align-items: center
      justify-items: center
      p
        margin: 0
        text-transform: uppercase
        font-weight: 800
    // Icons
    .icons
      display: flex
      gap: 2px
      align-items: center
      justify-items: center
      margin-left: auto
      > li
        cursor: pointer
    // Navbar
    .navbar
      display: flex
      align-items: center
      justify-content: space-between
      width: 100%
      padding: 10px 10px
      border-radius: 550px
      > ul
        display: flex
        align-items: center
        gap: 4rem
        list-style-type: none
  .navbar_fixed
    position: fixed
    left: 0
    width: 100vw
    backdrop-filter: blur(6px)
    > div
      display: flex
      align-items: center
      justify-content: space-between
      padding: 2rem 0
      > ul
        display: flex
        align-items: center
        gap: 4rem
        list-style-type: none
