<header class="container">
  <mat-grid-list cols="3" rowHeight="115px">
    <!-- Logo -->
    <mat-grid-tile>
      <a class="logo" [routerLink]="['/']">
        <img
          [attr.src]="
            getTheme()
              ? '../../assets/image/LogoDark.png'
              : '../../assets/image/LogoLight.png'
          "
          alt="ShoeZ Logo"
        />
      </a>
    </mat-grid-tile>

    <!-- Phone -->
    <mat-grid-tile>
      <div class="phone mat-typography">
        <div class="bg_tertiary rounded">
          <mat-icon color="accent" aria-label="Phone">phone_in_talk</mat-icon>
        </div>
        <p class="text_base">
          Call Us :
          <a href="tel:0123-456-7890" class="col_secondary">0123-456-7890</a>
        </p>
      </div>
    </mat-grid-tile>

    <!-- Icons -->
    <mat-grid-tile>
      <div class="icons">
        <!-- add two buttons to switch theme from light to dark -->
        <div class="bg_tertiary rounded" (click)="toggleTheme()">
          <mat-icon aria-label="Person">
            {{ getTheme() ? "dark_mode" : "light_mode" }}
          </mat-icon>
        </div>
        <div class="bg_tertiary rounded">
          <mat-icon
            aria-label="Person"
            aria-hidden="false"
            matBadge="1"
            matBadgeColor="accent"
          >
            person
          </mat-icon>
        </div>
        <div class="bg_tertiary rounded">
          <mat-icon
            aria-label="Favorite"
            aria-hidden="false"
            matBadge="1"
            matBadgeColor="accent"
          >
            favorite
          </mat-icon>
        </div>
        <div class="bg_tertiary rounded">
          <mat-icon
            aria-label="Cart"
            aria-hidden="false"
            matBadge="1"
            matBadgeColor="accent"
          >
            shopping_cart
          </mat-icon>
        </div>
      </div>
    </mat-grid-tile>

    <!-- Navbar -->
    <mat-grid-tile colspan="3">
      <div class="bg_secondary navbar text_base">
        <ul>
          <li>
            <a [routerLink]="['/shop']" class="col_tertiary">All Shoes</a>
          </li>
          <li>
            <a [routerLink]="['/shop?men']" class="col_tertiary">Men</a>
          </li>
          <li>
            <a [routerLink]="['/shop?women']" class="col_tertiary">Men</a>
          </li>
          <li>
            <a [routerLink]="['/shop?unisex']" class="col_tertiary">Men</a>
          </li>
        </ul>

        <!-- Search -->
        <app-search />
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</header>
