header
  width: 100%
  height: auto
  min-height: 400px
  > .mat-grid-list
    width: 100%
    align-items: center
    justify-items: center
    .logo
      object-fit: cover
      max-width: 80px
      max-height: 80px
      border-radius: 15px
      overflow: hidden
      margin-right: auto
      > img
        width: 100%
        height: 100%
    .info_container
      display: flex
      gap: 5px
      align-items: center
      justify-items: center
      > div
        width: 50px
        height: 50px
        border-radius: 100%
        display: inline-flex
        align-items: center
        justify-content: center
        margin-right: 10px
      p
        margin: 0
