<section class="container">
  <!-- Top Section -->
  <div class="top">
    <!-- Categories -->
    <div class="category">
      <mat-icon
        aria-label="new releases"
        aria-hidden="false"
        color="primary"
        class="icon"
        [@selected]="this.categorySelected"
      >
        new_releases
      </mat-icon>

      <!-- Categories for to print -->
      <div class="category_button">
        @for (cat of categories; track categories) {
        <h2
          class="text_xl col_background {{
            cat === categorySelected ? 'active' : ''
          }}"
          [@selected]="cat === categorySelected ? 'selected' : 'hidden'"
          (click)="this.categorySelected = cat"
        >
          {{ cat }}
        </h2>
        }
      </div>
    </div>

    <!-- Arrows to slide -->
    <div class="arrows">
      <button
        mat-mini-fab
        color="warn"
        aria-label="prev"
        id="prev-button-flash"
        (click)="carousel.prevSlide()"
        disabled="{{ this.currentSlide === 1 }}"
      >
        <mat-icon
          aria-label="prev"
          color="tertiary"
          aria-hidden="false"
          class="icon"
          id="prev-button-flash"
        >
          west
        </mat-icon>
      </button>
      <span class="text_lg col_background">
        {{ this.currentSlide }} - {{ this.slideShow }}
      </span>
      <button
        mat-mini-fab
        color="warn"
        aria-label="next"
        id="next-button-flash"
        (click)="carousel.nextSlide()"
        disabled="{{ this.currentSlide === this.slideShow }}"
      >
        <mat-icon
          aria-label="next"
          color="tertiary"
          aria-hidden="false"
          class="icon"
        >
          east
        </mat-icon>
      </button>
    </div>

    <!-- Button -->
    <div class="button">
      <button
        class="button"
        mat-flat-button
        color="primary"
        id="next-button-flash"
        aria-label="go to shop"
        (click)="this.router.navigate(['/store'])"
      >
        View All
      </button>
    </div>
  </div>

  <!-- Content Section -->
  <div class="bottom">
    <!-- Banner -->
    <app-banner-button
      [slides]="slides"
      [slideConfig]="slideConfig"
      (changeCarrousel)="changeCarousel($event)"
      #carousel
    />

    <div class="title bg_white">
      <span class="text_lg col_primary"><p>DAILY DEALS</p></span>
      <span class="text_xl col_primary"><p>FLASH SALE</p></span>
    </div>

    <div class="background bg_white"></div>
  </div>
</section>
