<section class="bg_tertiary bg_primary_before">
  <div class="container bg_background_before">
    <mat-grid-list
      cols="5"
      rowHeight="{{ this.breakpoint ? '400px' : '600px' }}"
      (window:resize)="onResize($event)"
    >
      <!-- Left section -->
      <mat-grid-tile
        colspan="{{ this.breakpoint ? '5' : '2' }}"
        style="overflow: visible"
      >
        <div
          class="message"
          [@showText]="this.animationShow ? 'show' : 'hidden'"
        >
          <h2 class="text_xl col_tertiary">New Arrivals</h2>
          <h1 class="text_h1 col_tertiary">{{ title }}</h1>
          <h2 class="text_xl col_tertiary">Best Shoes</h2>
          <button
            mat-raised-button
            color="primary"
            class="button"
            (click)="handleClick()"
          >
            Shop
          </button>
        </div>
      </mat-grid-tile>

      <!-- Right section -->
      <mat-grid-tile
        colspan="{{ this.breakpoint ? '5' : '3' }}"
        style="overflow: visible; user-select: none"
      >
        <div class="banner">
          <app-banner (newEmitter)="changeModal($event)" />
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</section>
