<div class="banner">
  <div class="atropos my-atropos">
    <!-- scale container (required) -->
    <div class="atropos-scale">
      <!-- rotate container (required) -->
      <div class="atropos-rotate">
        <!-- inner container (required) -->
        <div class="atropos-inner">
          <ngx-slick-carousel
            class="carousel"
            #slickModal="slick-carousel"
            [config]="slideConfig"
            (beforeChange)="beforeChange($event)"
          >
            @for (slide of slides; track slide.img) {
            <div ngxSlickItem class="slide">
              <img src="{{ slide.img }}" alt="ShoeZ some Shoes" width="100%" />
            </div>
            }
          </ngx-slick-carousel>
        </div>
      </div>
    </div>
  </div>
</div>
