<div class="container single_product" #container>
  <!-- breadcrumb -->
  <app-breadcrumbs [currentRoute]="data.title" />

  <div class="top_col">
    <!-- Title -->
    <h1 class="top_title text_xl">{{ data.title }}</h1>

    <!-- List to show -->
    <div class="list_info">
      <!-- Print images -->
      <app-image360
        [imageData]="data.images"
        style="margin-right: auto; width: 100%"
      />

      <!-- Product info -->
      <app-product-info [data]="data" style="height: 100%; width: 100%" />
    </div>

    <!-- List to show -->
    <div class="description_tab">
      <app-product-tab [data]="data" />
    </div>
  </div>
</div>

<!-- Brand Info -->
<app-brand-info />

<!--  Reviews and comments -->
<app-product-review [data]="data" />

<div class="bg_tertiary_gradient_bottom">
  <div class="container">
    <app-product-recommended [data]="data" />
  </div>
</div>
