// Text
.text_small
  font-size: 12px
  line-height: 1.3
  text-transform: none

.text_base
  font-size: 16px
  line-height: 1.5
  text-transform: none

.text_lg
  font-size: 18px
  line-height: 1.6
  text-transform: none

.text_xl
  font-size: 30px
  line-height: 1.6
  text-transform: none

.text_h1
  font-size: 68px
  line-height: 1.5
  text-transform: none

// Common
.rounded
  position: relative
  width: 50px
  height: 50px
  border-radius: 100%
  display: inline-flex
  align-items: center
  justify-content: center
  margin-right: 10px
  .badge
    position: absolute
    top: -1px
    right: -3px
    display: flex
    align-items: center
    justify-content: center
    border-radius: 50%
    min-width: 19px
    height: 19px
    font-size: 12px

// Container
.container
  width: 100%
  margin: 0 auto
  max-width: 1320px

// Responsive
@media (max-width: 1200px)
  .container
    max-width: 1140px


@media (max-width: 992px)
  .container
    max-width: 960px


@media (max-width: 768px)
  .container
    max-width: 720px


@media (max-width: 576px)
  .container
    max-width: 540px

