@use "@angular/material" as mat;

$mat-primary-scheme: (
  100: #54c7d1,
  200: #fafeff,
  500: #56696bb3,
  700: #5f999e,
  800: #eefdff,
  900: #1e1e1e,
  contrast: (
    100: #1e1e1e,
    500: #2d3738,
    700: #1e1e1ecb,
  ),
);

$mat-dark-scheme: (
  100: #0e2021,
  200: #040909,
  500: #54c7d181,
  700: #6d8687,
  800: #25292a,
  900: #b4e6e9,
  contrast: (
    100: #b4e6e9,
    500: #93b8ba,
    700: #21393c,
  ),
);

$primary: mat.define-palette($mat-primary-scheme, 100);
$white: mat.define-palette($mat-primary-scheme, 200);
$accent: mat.define-palette($mat-primary-scheme, 500);
$warn: mat.define-palette($mat-primary-scheme, 700);
$tertiary: mat.define-palette($mat-primary-scheme, 800);
$background: mat.define-palette($mat-primary-scheme, 900);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      back: $white,
      accent: $accent,
      warn: $warn,
      tertiary: $tertiary,
      background: $background,
    ),
  )
);

// define the dark theme palettes
$dark-primary: mat.define-palette($mat-dark-scheme, 100);
$dark-white: mat.define-palette($mat-dark-scheme, 200);
$dark-accent: mat.define-palette($mat-dark-scheme, 500);
$dark-warn: mat.define-palette($mat-dark-scheme, 700);
$dark-tertiary: mat.define-palette($mat-dark-scheme, 800);
$dark-background: mat.define-palette($mat-dark-scheme, 900);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      back: $dark-white,
      accent: $dark-accent,
      warn: $dark-warn,
      tertiary: $dark-tertiary,
      background: $dark-background,
    ),
  )
);

// Var to use in light theme
.bg_primary {
  background-color: mat.get-color-from-palette($primary);
}
.bg_white {
  background-color: mat.get-color-from-palette($white);
}
.bg_secondary {
  background-color: mat.get-color-from-palette($accent);
}
.bg_warn {
  background-color: mat.get-color-from-palette($warn);
}
.bg_tertiary {
  background-color: mat.get-color-from-palette($tertiary);
}
.bg_background {
  background-color: mat.get-color-from-palette($background);
}
.bg_white_gradient {
  background: linear-gradient(
    0deg,
    mat.get-color-from-palette($white),
    rgba(255, 255, 255, 0)
  );
}
.bg_background_gradient {
  background: linear-gradient(
    0deg,
    mat.get-color-from-palette($background),
    rgba(255, 255, 255, 0)
  );
}
.bg_tertiary_gradient_top {
  background: linear-gradient(
    0deg,
    mat.get-color-from-palette($tertiary),
    rgba(255, 255, 255, 0)
  );
}
.bg_primary_before::before {
  background-color: mat.get-color-from-palette($primary);
}
.bg_tertiary_before::before {
  background-color: mat.get-color-from-palette($tertiary);
}
.bg_background_before::before {
  background-color: mat.get-color-from-palette($background);
}
.bg_background_before_gradient::before {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 50%,
    mat.get-color-from-palette($background) 100%
  );
}
.col_primary {
  color: mat.get-color-from-palette($primary);
}
.col_secondary {
  color: mat.get-color-from-palette($accent);
}
.col_warn {
  color: mat.get-color-from-palette($warn);
}
.col_tertiary {
  color: mat.get-color-from-palette($tertiary);
}
.col_background {
  color: mat.get-color-from-palette($background);
}
.mat-divider.primary {
  border-top-color: mat.get-color-from-palette($primary);
}
.slick-single_carousel .slick-next::before,
.slick-single_carousel .slick-prev::before {
  color: mat.get-color-from-palette($accent);
}
.carouselCustomer .slick-dots > li.slick-active > button::before,
.carouselCustomer .slick-dots > li.slick-active > button:hover::before {
  color: mat.get-color-from-palette($primary);
  background: radial-gradient(
    circle,
    mat.get-color-from-palette($warn) 5%,
    rgba(201, 172, 8, 0) 60%
  );
}
.carouselCustomer .slick-dots > li > button::before {
  color: mat.get-color-from-palette($accent);
}
.carouselCustomer .slick-dots > li > button:hover::before {
  color: mat.get-color-from-palette($warn);
}

@include mat.all-component-themes($light-theme);

// Var to use in dark theme
body.dark-theme {
  @include mat.all-component-colors($dark-theme);

  .bg_primary {
    background-color: mat.get-color-from-palette($dark-primary);
  }
  .bg_white {
    background-color: mat.get-color-from-palette($dark-white);
  }
  .bg_secondary {
    background-color: mat.get-color-from-palette($dark-accent);
  }
  .bg_warn {
    background-color: mat.get-color-from-palette($dark-warn);
  }
  .bg_tertiary {
    background-color: mat.get-color-from-palette($dark-tertiary);
  }
  .bg_background {
    background-color: mat.get-color-from-palette($dark-background);
  }
  .bg_white_gradient {
    background: linear-gradient(
      0deg,
      mat.get-color-from-palette($dark-white),
      rgba(255, 255, 255, 0)
    );
  }
  .bg_background_gradient {
    background: linear-gradient(
      0deg,
      mat.get-color-from-palette($dark-background),
      rgba(255, 255, 255, 0)
    );
  }
  .bg_primary_before::before {
    background-color: mat.get-color-from-palette($dark-primary);
  }
  .bg_tertiary_before::before {
    background-color: mat.get-color-from-palette($dark-tertiary);
  }
  .bg_background_before::before {
    background-color: mat.get-color-from-palette($dark-background);
  }
  .bg_background_before_gradient::before {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 50%,
      mat.get-color-from-palette($dark-background) 100%
    );
  }
  .col_primary {
    color: mat.get-color-from-palette($dark-primary);
  }
  .col_secondary {
    color: mat.get-color-from-palette($dark-accent);
  }
  .col_warn {
    color: mat.get-color-from-palette($dark-warn);
  }
  .col_tertiary {
    color: mat.get-color-from-palette($dark-tertiary);
  }
  .col_background {
    color: mat.get-color-from-palette($dark-background);
  }
  .mat-divider.primary {
    border-top-color: mat.get-color-from-palette($dark-primary);
  }
  .carouselCustomer .slick-dots > li.slick-active > button::before,
  .carouselCustomer .slick-dots > li.slick-active > button:hover::before {
    color: mat.get-color-from-palette($dark-primary);
    background: radial-gradient(
      circle,
      mat.get-color-from-palette($dark-warn) 5%,
      rgba(201, 172, 8, 0) 60%
    );
  }
  .carouselCustomer .slick-dots > li > button::before {
    color: mat.get-color-from-palette($dark-accent);
  }
  .carouselCustomer .slick-dots > li > button:hover::before {
    color: mat.get-color-from-palette($dark-warn);
  }
}

// Initial Styles
*:not(mat-icon) {
  font-family: "Oswald", sans-serif !important;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}
body {
  overflow-x: hidden;
}

// Import Presets
@import "./presets.sass";
