<footer class="bg_warn">
  <!-- Background Image -->
  <img
    src="../../../../assets/image/footer_background.webp"
    alt="ShoeZ"
    class="footer_background"
  />

  <div class="container">
    <mat-grid-list cols="3" rowHeight="2:2">
      <!-- Logo -->
      <mat-grid-tile>
        <div class="logo_footer">
          <h2 class="text_lg col_tertiary">COMPANY</h2>

          <a [routerLink]="['/']">
            <img
              [attr.src]="
                getTheme()
                  ? '../../assets/image/LogoDark.png'
                  : '../../assets/image/LogoLight.png'
              "
              alt="ShoeZ Logo"
            />
          </a>
          <p class="text_base col_tertiary">The best in sport</p>
        </div>
      </mat-grid-tile>

      <!-- Contact -->
      <mat-grid-tile>
        <div class="logo_contact">
          <h2 class="text_lg col_tertiary">INFO</h2>

          <ul>
            <li class="col_tertiary">
              <mat-icon color="white" aria-label="Phone"
                >phone_in_talk</mat-icon
              >
              <p>Call Us :</p>
              <span>0123-456-7890</span>
            </li>
            <li class="col_tertiary">
              <mat-icon color="white" aria-label="Email">email</mat-icon>
              <p>Email :</p>
              <span>info&#64;shoez.com</span>
            </li>
            <li class="col_tertiary">
              <mat-icon color="white" aria-label="Schedule">schedule</mat-icon>
              <p>Time :</p>
              <span>Monday till Friday 10 to 6 EST</span>
            </li>
          </ul>
        </div>
      </mat-grid-tile>

      <!-- Email Catcher -->
      <mat-grid-tile>
        <div class="email_footer">
          <h2 class="text_lg col_tertiary">NEWSLETTER</h2>
          <div class="email_form">
            <p class="text_small col_tertiary">
              Get 15% off your first purchase! Plus
            </p>

            <!-- Input -->
            <mat-form-field class="email_footer_input">
              <mat-label>Email</mat-label>
              <input
                type="email"
                matInput
                color="background"
                [formControl]="emailFormControl"
                placeholder="Ex. ShoeZ@gmail.com"
              />
              @if (emailFormControl.hasError('email') &&
              !emailFormControl.hasError('required')) {
              <mat-error>Please enter a valid email address</mat-error>
              } @if (emailFormControl.hasError('required')) {
              <mat-error>Email is <strong>required</strong></mat-error>
              }

              <button type="button" class="email_submit col_background">
                <mat-icon aria-label="Arrow">east</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <mat-divider class="primary"></mat-divider>

  <section class="footer_bottom container">
    <small class="text_small col_tertiary"
      >Copyright © 2023 ShoeZ. All rights reserved.</small
    >

    <!-- Buttons -->
    <ul class="icons">
      <!-- add two buttons to switch theme from light to dark -->
      <li
        class="bg_secondary col_white rounded email_theme"
        (click)="toggleTheme()"
      >
        <mat-icon aria-label="Person">
          {{ getTheme() ? "dark_mode" : "light_mode" }}
        </mat-icon>
      </li>
    </ul>
  </section>
</footer>
