<div class="card">
  <!-- Print Image -->
  <div class="image">
    <img src="{{ data.img }}" alt="{{ data.title }}" />
  </div>
  <div class="content">
    <!-- Print Title -->
    <h2 class="text_base col_background">{{ data.title }}</h2>

    <!-- Print Review -->
    <app-review [review]="data.review" />

    <!-- Print Price -->
    <app-price [price]="data.price" [discount]="data.discount" />
  </div>

  <!-- Discount Tag -->
  @if (data.discount) {
  <span class="discount bg_primary text_small">
    <mat-icon
      aria-label="bolt"
      color="tertiary"
      aria-hidden="false"
      class="icon"
    >
      bolt
    </mat-icon>
    {{ data.discount }}%
  </span>
  }
</div>
