<div class="banner">
  <div class="atropos my-atropos">
    <!-- scale container (required) -->
    <div class="atropos-scale">
      <!-- rotate container (required) -->
      <div class="atropos-rotate">
        <!-- inner container (required) -->
        <div class="atropos-inner">
          <swiper-container
            loop="true"
            navigation="true"
            grab-cursor="true"
            crossFade="true"
            effect="fade"
            navigation-disabled-class=""
            navigation-hide=""
          >
            <swiper-slide>
              <div>
                <img
                  src="../../../../assets/image/Landing_banner_1.webp"
                  data-atropos-offset="-5"
                />
              </div>
            </swiper-slide>
            <swiper-slide>
              <div>
                <img
                  src="../../../../assets/image/Landing_banner_2.webp"
                  data-atropos-offset="-5"
                />
              </div>
            </swiper-slide>
            <swiper-slide>
              <div>
                <img
                  src="../../../../assets/image/Landing_banner_3.webp"
                  data-atropos-offset="-5"
                />
              </div>
            </swiper-slide>
          </swiper-container>
        </div>
      </div>
    </div>
  </div>
</div>
