// atropos-component::part(inner)
//   background: red

// .my-atropos
//   width: 600px
//   height: 300px

.swiper-slide-active
  opacity: 1!important
swiper-slide
  position: relative
  height: 100%
  opacity: 0!important
  > div
    position: relative
    height: 100%
    width: 100%
    > img
      object-fit: cover
      width: 100%
      height: 100%
