@use "@angular/material" as mat;

// Initial Styles
:root {
  color-scheme: light dark;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
}
body {
  margin: 0;
  font-family: "Rubik", sans-serif;
}

// Presets to use in all APP
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1320px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

$mat-primary-scheme: (
  100: #54c7d1,
  500: #5f999e,
  700: #56696b,
  800: #f5feff,
  contrast: (
    100: #1e1e1e,
    500: #2d3738,
    700: #1e1e1ecb,
  ),
);

$mat-dark-scheme: (
  100: #0e2021,
  500: #335354,
  700: #6d8687,
  800: #455657,
  contrast: (
    100: #b4e6e9,
    500: #93b8ba,
    700: #21393c,
  ),
);

$primary: mat.define-palette($mat-primary-scheme, 100);
$accent: mat.define-palette($mat-primary-scheme, 500);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
    ),
    typography: mat.define-typography-config(),
  )
);

// define the dark theme palettes
$dark-primary: mat.define-palette($mat-dark-scheme, 100);
$dark-accent: mat.define-palette($mat-dark-scheme, 500);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
    ),
    typography: mat.define-typography-config(),
  )
);

@include mat.all-component-themes($light-theme);

body.dark-theme {
  @include mat.all-component-colors($dark-theme);
}
