<section class="customer bg_white_gradient">
  <!-- Background Image -->
  <div class="background_image"></div>

  <!-- Background Particle -->
  <div id="particles-js" class="particle"></div>

  <div class="container">
    <!-- Background -->
    <div class="bg_primary background_color"></div>

    <div class="content">
      <h2 class="text_h1 col_background">Meet Our Customers</h2>
      <p class="text_small col_background">More than 50 reviews</p>

      <!-- Print Carousel of Review -->
      <app-customer-carousel style="width: 100%; height: 100%" />
    </div>
  </div>
</section>
