<section class="image360">
  <img src="{{ imageData.path }}" alt="Shoez Product" />
  <canvas
    id="canvas"
    width="570"
    height="380"
    [ngClass]="{ visibility: this.images.length != 37 }"
    class="test"
    #canvas
  ></canvas>

  <mat-slider min="1" max="36" step="1" color="primary" class="slider">
    <input
      matSliderThumb
      [(ngModel)]="value"
      disabled="{{ this.disabledSlider }}"
    />

    <input matInput class="input_hidden" type="number" [(ngModel)]="value" />
  </mat-slider>
</section>
